.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  padding: 0 40px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.header__date-location {
  font-size: 16px;
  font-weight: 500;
}

.header__add-button {
  font-size: 16px;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
}

.header__add-button:hover {
  opacity: 0.8;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #000;
}

.header__username {
  font-family: "CabinetGrotesk", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
