.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}


.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}


.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}


.header__username {
  font-size: 20px;
  font-weight: 700;
}


.header__avatar,
.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header__add-button {
  font-size: 16px;
  font-weight: 700;
  border: none;
  background: none;
  cursor: pointer;
}
